@import 'variables';

.app-container {
  width: 100vw;
  height: 100vh;
  .header {
    height: $header-height;
    background-color: lightgray;
  }
  .main {
    height: calc(100% - #{$header-height});
    display: flex;
    &-logos {
      height: 100%;
      width: 20%;
    }
    &-canvas {
      height: 100%;
      width: 60%;
      background-color: yellow;
    }
    &-customization {
      height: 100%;
      width: 20%;
      background-color: red;
    }
  }
}
